/* All pages */
body{
    /* Background color for all pages */
    background-color: #cccccc;
}
.container-sm{
    /* Moves content on all pages down from the navbar */
    margin-top: 50px;    
}

nav{
    background-color: rebeccapurple;
}

/* Index */
.indexRow{
    /* Padding on sides of text for home page to prevent text */
    /* flowing off the window on smaller windows */
    padding: 20px;
}

.self-pic{
    margin: 10px;
}

/* Portfolio */
.portfolio-img{
    /* Small margin between portfolio imgs, also width and height to */
    /* maintain size when new images are added */
    margin: 5px;
    height: 350px;
    width: 350px;
}
